body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.lorem-p{
  color: green;
  background-color: black;
}
nav{
  text-align: center;
  margin: 0 auto;
  width: 80%;
}
nav ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.img1{
  width: 100%;
}
h1{
  text-align: center;
}